body {
  font-size: 16px;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-container {
  display: flex;
}
@media screen and (max-width: 960px) {
  .l-container {
    width: 100%;
    flex-direction: column;
  }
}

.l-sidebar {
  flex-shrink: 0;
}

.l-content {
  flex: 1;
  margin-left: 300px;
}
@media screen and (max-width: 960px) {
  .l-content {
    margin-left: 0;
  }
}

.l-inner {
  width: 100%;
  max-width: 900px;
  padding: 20px 20px 100px;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .l-inner {
    padding-bottom: 20px;
  }
}

.sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.sub-title::before, .sub-title::after {
  content: "";
  width: 25%;
  border-top: 1px solid;
}

.header {
  width: 300px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px;
  position: fixed;
  top: 0;
  font-size: 14px;
  z-index: 100;
  background-color: #fff;
}
@media screen and (max-width: 960px) {
  .header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
.header__logo {
  width: 200px;
  padding-top: 40px;
  padding-bottom: 20px;
}
@media screen and (max-width: 960px) {
  .header__logo {
    padding: 20px;
  }
}
.header-nav__item, .header-sns__item {
  padding-bottom: 20px;
}

.hero__video {
  width: 100%;
  height: 100vh;
}
.hero__video video {
  position: fixed;
  top: -200px;
  height: auto;
  z-index: -10;
}

.project {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  color: #fff;
}
.project__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.project__item {
  border: 1px solid #fff;
}
.project__item a {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.project__item a::after {
  content: "";
  box-shadow: 0 -30px 15px -1px #2e2e2e inset;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.project__item img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.project__item span {
  position: absolute;
  font-size: 12px;
  bottom: 4px;
  left: 4px;
  color: #fff;
  z-index: 2;
}

.feature {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.feature__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.feature__item {
  font-size: 14px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.feature__item a {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 960px) {
  .feature__item a {
    width: 150px;
    height: 150px;
  }
}
.feature__item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: left 0.4s ease;
  z-index: -1;
}
.feature__item a:hover::before {
  left: 0;
}
.feature__item a span {
  position: relative;
  z-index: 2;
}
.feature__item-title {
  font-weight: bold;
  font-size: 16px;
}

.flow {
  background-color: #fff;
  z-index: 2;
}
.flow__inner p {
  margin-bottom: 60px;
}
.flow__wrapper {
  display: flex;
  gap: 20px;
}
.flow__step {
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align: center;
  list-style-position: inside;
  list-style-type: decimal;
  position: relative;
}
.flow__step::after {
  content: "";
  width: 50px;
  height: 600px;
  background-color: #ffdd00;
  position: absolute;
  top: 0;
  left: 75px;
  z-index: 1;
}
.flow__step-item {
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #414141;
  color: #fff;
  font-size: 14px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
.flow__step-item::after {
  content: "";
  width: 200px;
  height: 20px;
  position: absolute;
  border-top: 30px solid #414141;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
}
.flow__desc {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  counter-reset: flow-count;
}
.flow__desc-title {
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #333;
  position: relative;
  margin-bottom: 10px;
}
.flow__desc-title::before {
  counter-increment: flow-count;
  content: "" counter(flow-count);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #414141;
  border-radius: 50%;
  color: #fff;
  top: 0;
  left: -60px;
}
.flow__desc-text {
  margin-bottom: 40px;
}

.contact {
  background-color: #fff;
}
.contact p {
  margin-bottom: 40px;
}
.contact__list {
  display: flex;
  width: 100%;
  gap: 20px;
}
.contact__item {
  width: 33%;
  text-align: center;
  border: 1px solid #333;
  align-items: center;
}
.contact__item a {
  display: block;
  width: 100%;
  padding: 50px 0;
  position: relative;
  transition: 0.1s;
}
.contact__item a:hover {
  outline: 3px solid #333;
}
.contact__item a::after {
  position: absolute;
  content: "";
  bottom: 4px;
  right: 4px;
  border-top: 20px solid transparent;
  border-right: 20px solid #333;
}

.footer {
  background-color: #333;
  color: #fff;
}/*# sourceMappingURL=style.css.map */